<ion-view title="Beers Catalog">
  <ion-content>

              <div class="list card">
                <div class="item item-divider-right">
                    <img src="img/libertas.jpg">
                </div>
                <div class="item item-body">
                    <strong><span>Libertas</span></strong>
                    <p>
                        <span>Red ale beer</span>
                    </p>
                </div>
                <div class="item item-divider-right">
                    <img src="img/segua.jpg">
                </div>
                <div class="item item-body">
                    <strong><span>La Segua</span></strong>
                    <p>
                        <span>Red ale beer</span>
                    </p>
                </div>
            </div>


  </ion-content>
</ion-view>